body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fbfd;
  margin-left: 20px;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
